<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Testcontainers 로그 레벨 조정 -->
    <logger name="org.testcontainers" level="WARN" />
    <logger name="com.github.dockerjava" level="WARN" />
    
    <!-- 컨테이너 내부 로그 (tc.*) 숨기기 -->
    <logger name="tc" level="WARN" />

    <!-- RedisTestContainersConfig 디버그 로그 숨기기 -->
    <logger name="org.ject.support.testconfig.RedisTestContainersConfig" level="WARN" />
</configuration>
